name: Regression

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            rust: stable
            target: x86_64-unknown-linux-gnu
          - os: ubuntu-24.04-arm
            rust: stable
            target: aarch64-unknown-linux-gnu
          - os: macOS-latest
            rust: stable
            target: x86_64-apple-darwin
          - os: windows-latest
            rust: stable
            target: x86_64-pc-windows-msvc
          - os: windows-11-arm
            rust: stable
            target: aarch64-pc-windows-msvc

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.rust }}
          targets: ${{ matrix.target }}
      - uses: Swatinem/rust-cache@v2
      - name: Run tests
        run: |
          cargo build --target ${{ matrix.target }}
          ./target/${{ matrix.target }}/debug/verylup setup
          ./target/${{ matrix.target }}/debug/verylup install 0.17.0
          ./target/${{ matrix.target }}/debug/verylup install nightly
          ./target/${{ matrix.target }}/debug/veryl --version
          ./target/${{ matrix.target }}/debug/veryl +0.17.0 --version
          ./target/${{ matrix.target }}/debug/veryl +nightly --version

  rustfmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - uses: Swatinem/rust-cache@v2
      - name: Run rustfmt
        run: cargo fmt -- --check

  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - uses: Swatinem/rust-cache@v2
      - name: Run clippy
        run: cargo clippy -- -D warnings
